{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,
 shrink-to-fit=no">
    <title>Learning Log</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <link id="myStyleSheet" rel="stylesheet" type="text/css" href="{% static 'learning_logs/dark.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body>
        <nav class="navbar navbar-expand-md mb-4 ">
        <a class="navbar-brand" href="{% url 'learning_logs:index'%}">
         Learning Log</a>
         
         <button class="btn btn-dark mx-auto" onclick="swapStyle(dark)"><i class="fas fa-moon"></i></button>
         <button class="btn btn-light mx-auto" onclick="swapStyle(light)"> <i class="fas fa-sun"></i> </button>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
         data-target="#navbarCollapse" aria-controls="navbarCollapse"
         aria-expanded="false" aria-label="Toggle navigation" >
         <span><i class="fas fa-caret-up"></i></span></button>
         

        
        
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url 'learning_logs:topics' %}" class="nav-link">Topics
                    </a>
                </li>
            

            

            

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text">Hello, {{user.username}}</span>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'users:logout' %}" class="nav-link">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'users:register' %}" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'users:login' %}" class="nav-link">Log in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="pb-2 mb-2 border-bottom">
            {% block page_header %}{% endblock page_header %}
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </main>
    

    <script type="text/javascript">
        var dark = "{% static 'learning_logs/dark.css' %}"
        var light = "{% static 'learning_logs/light.css' %}"
        var setTheme = localStorage.getItem("theme")
        console.log("theme:", setTheme)
        if (setTheme == null){
            swapStyle(light)
        }else{
            swapStyle(setTheme)
        }

        function swapStyle(sheet){
            document.getElementById('myStyleSheet').href = sheet
            localStorage.setItem('theme', sheet)
        }

        function check_navbar(){
            var is_clicked = $("#navbarCollapse").hasClass("collapsed");
            alert(is_clicked);
        }

    </script>



</body>

</html>


