{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3 text-center">Online Journal</h1>
    </div>

{% endblock page_header %}


{% block content %}
    
    {% for topic in topics %}

            <div class="card mb-5 mt-5">
                <div class="card-body bg-dark">
                    <h6 class="text-right">@{{topic.owner}} {{ topic.date_added}} Public</h6>
                    <a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a>
                </div>
            </div>
    
    {% endfor %}


{% endblock content %}